#post
  .content.post.mm-background-black
    .title(data-aos="fade-right", data-aos-duration="400", data-aos-delay="100")
      p.mm-text-family-primary.mm-text-size-xxl.mm-text-secondary.mm-text-bold
        span.mm-text-brand _
        | !{i18n.blog.title}
  article.mm-background-secondary
    picture.post-image
    include ./main
    
