section#recommend.mm-background-black
  .content
    .recommend
      .title
        h4.mm-text-family-primary.mm-text-size-xl.mm-text-bold.mm-text-secondary
          | !{i18n.blog.recommend.title}
      .list-recommend
      p.empty-js.mm-text-family-primary.mm-text-size-l.mm-text-light.mm-text-secondary
        | !{i18n.blog.recommend.empty}
