.companies {
  .title {
    padding-bottom: 48px;

    @include modular-mq(sm) {
      padding-top: 24px;
      padding-bottom: 24px;
      text-align: center;

      p {
        font-size: 40px;
      }
    }
  }

  .description {
    display: grid;
    grid-area: description;
    grid-template-areas:
    ". . . . .";
    grid-template-rows: auto ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 24px 0;
    gap: 48px 72px;

    @include modular-mq(md) {
      grid-template-areas:"." ;
      grid-template-columns: 1fr;
    }

    .companies-item-logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      justify-items: center;
    }
    .companies-item, .companies-item img {
      max-width: 138px;
      max-height: 55px;
      filter: grayscale(1);

      @include modular-mq(md) {
        max-width: 250px;
        max-height: 100px;
        margin: 0 auto;
      }
    }
  }
}
