.focusOnYou {
  display: grid;
  grid-template-areas:
    "title description";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 32px;

  @include modular-mq(md) {
    grid-template-areas:
    "title" "description";
    grid-template-columns: auto;
  }

  .title {
    display: flex;
    flex-direction: column;
    grid-area: title;

    p {
      font-size: 97px;
    }

    @include modular-mq(md) {
      padding-bottom: 24px;
      justify-content: center;

      span {
        font-size: 40px;
      }
      p {
        font-size: 40px;
      }
    }
  }
  .description {
    grid-area: description;

    p:first-child {
      font-size: 32px;
      line-height: 50px;
      margin-bottom: 24px;
      @include modular-mq(sm) {
        font-size: 22px;
        line-height: 26px;
      }
    }

    p:last-child {
      line-height: 26px;
      margin-bottom: 32px;
    }

    .action {
      margin-top: 24px;
      display: inline-grid;
      width: 50%;
    }

    @include modular-mq(sm) {
      display: flex;
      align-items: center;
      flex-direction: column;

      .action {
        width: 100%;
      }
    }
  }
}
