#founders {
  background-image: url(../media/img/assets/bg_founders.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.founders {
  display: grid;
  grid-template-areas:
    "title images";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  width: 100%;

  @include modular-mq(sm) {
    grid-template-areas:
    "title" "images";
    grid-template-columns: auto;
  }

  .title {
    grid-area: title;
    margin-right: 48px;
    @include modular-mq(sm) {
      display: flex;
      flex-direction: column;
      margin-right: 24px;
      padding-top: 24px;
      padding-bottom: 24px;
      text-align: center;
      p {
        font-size: 40px;
        text-align: center;
      }
    }
  }

  .images {
    grid-area: images;

    picture {
      img {
        border-radius: $global-radius;
      }
    }

    @include modular-mq(sm) {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .image-description {
      margin-top: 48px;
    }
  }
}
