.hero {
  display: grid;
  grid-template-areas:
    "copy image";
  grid-template-rows: 1fr;
  grid-template-columns: 1.2fr 1fr;
  width: 100%;

  // i'm not sure
  padding-bottom: 92px;

  @include modular-mq(sm) {
    grid-template-areas:
    "image" "copy";
    grid-template-columns: auto;
  }

  .copy {
    grid-area: copy;
    padding-top: 148px;
    padding-bottom: 148px;

    @include modular-mq(sm) {
      padding-top: 0;
      font-size: 20px;
      text-align: center;
    }

    p:first-child {
      margin-bottom: 24px;
    }

    .actions {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 8px;
      padding-top: 48px;
      width: 100%;

      @include modular-mq(sm) {
        grid-template-columns: 1fr;
        grid-gap: 16px;
      }
    }
  }
  .image {
    grid-area: image;
    display: flex;
    align-items: center;

    picture {
      margin: 0 auto;
    }

    img {
      margin: 0 auto;
      object-fit: none;

      @include modular-mq(sm) {
        object-fit: inherit;
      }
    }
  }
}
