@import "../../organism/widget_teamtailor_home";

.lastJobs {
  display: grid;
  grid-template-areas:
    "title" "description";
  grid-template-columns: auto;
  width: 100%;
  margin: 82px 0;

  .lastOffers-list {
    margin: 12px 0;
  }

  .title {
    display: flex;
    flex-direction: row;
    grid-area: title;
    padding-top: 12px;

    @include modular-mq(sm) {
      padding-bottom: 24px;
      justify-content: center;
      p {
        font-size: 40px;
      }
    }
  }

  .description {
    grid-area: description;
    padding-bottom: 12px;
    min-height: 264px;
  }

  .jobs-list {
    padding-top: 24px;
    min-height: 1232px;
  }
}
