@import "../../organism/card_blog";

.lastBlog {
  .title {
    display: grid;
    grid-template: '. .';
    grid-template-columns: 115px 200px;
    gap: 12px;

    @include modular-mq(md) {
      grid-template-columns: 55px 200px;

      p, span {
        font-size: 32px !important;
      }
    }
  }
  .subtitle {
    display: grid;
    grid-template: '. .';
    grid-template-columns: 115px 200px;
    gap: 12px;
    margin-top: 24px;
    @include modular-mq(md) {
      grid-template-columns: 55px 200px;
    }
  }
  .list-blog {
    display: grid;
    grid-template: '. . .';
    grid-template-columns: 1fr 1fr 1fr;
    gap: 48px;
    margin-top: 48px;
    margin-bottom: 48px;

    @include modular-mq(sm) {
      grid-template: '.';
      grid-template-columns: auto;
    }
  }
}
