#numbers {
  margin-top: 110px;
  background-image: url(../media/img/assets/bg_founders.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 50%;

  @include modular-mq(sm) {
    margin-top: 70px;
    background-size: auto;
  }
}

.numbers {
  display: grid;
  grid-template-areas:
    "title" "description";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  width: 100%;

  @include modular-mq(md) {
    grid-template-areas:
    "title" "description";
    grid-template-columns: auto;
  }


  .title {
    grid-area: title;

    @include modular-mq(sm) {
      padding-top: 24px;
      padding-bottom: 24px;

      span {
        text-align: center;
        font-size: 40px;
      }
    }
  }

  .description {
    grid-area: description;
    max-width: 308px;
    p {
      font-size: 225px;
      line-height: 1;
      margin-bottom: 32px;

      @include modular-mq(sm) {
        font-size: 88px;
      }
    }
  }
}


.numbers-list {
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    ". . .";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;

  @include modular-mq(sm) {
    grid-template-areas:
        "." "." ".";
    grid-template-columns: 1fr;
  }

  .numbers-item-title {
    display: flex;
    align-items: center;
    margin-top: 12px;
    flex-direction: column;

    @include modular-mq(sm) {
      margin: 24px;
    }
  }
}
