.services {
  display: grid;
  grid-template-areas:
    "title title"
    "description description";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1.2fr 0.8fr;
  width: 100%;

  @include modular-mq(sm) {
    grid-template-areas:
    "title" "description";
    grid-template-columns: auto;
  }

  .title {
    grid-area: title;
    padding-bottom: 96px;

    @include modular-mq(sm) {
      padding-top: 24px;
      padding-bottom: 24px;
      p {
        font-size: 40px;
      }
    }
  }

  .description {
    display: grid;
    grid-area: description;
    grid-template-areas:
    ". . .";
    grid-template-rows: auto ;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 24px 0;
    gap: 8px;

    @include modular-mq(sm) {
      grid-template-areas:
        "." "." ".";
      grid-template-columns: 1fr;
    }

    .service-item {
      display: flex;
      flex-direction: column;
      border: 2px solid $secondary;
      padding: 40px 32px;

      .service-item-title {
        margin-bottom: 24px;
      }

      .list-services {
        flex: 1;
        padding-left: 24px;
        list-style: disc;
      }

      .service-action {
        margin-top: 40px;
      }

      .service-action, .service-action > a {
        width: 100%;
      }



      &:hover, &:active {
        border: 2px solid $brand;
        background-color: $brand;

        * {
          color: $black !important;
        }

        .service-action, .service-action > a {
          border-radius: 4px;
          border-color: $black;
          background-color: $black;
          color: $secondary !important;
        }
      }


    }
  }
}
