.toptalent {
  display: grid;
  grid-template-areas:
    "title" "description";
  grid-template-columns: auto;
  width: 100%;
  margin: 82px 0;

  .toptalent-list {
    margin: 12px 0;
    display: grid;
    grid-template-areas:
    ". . .";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin: 24px 0;
    gap: 24px;
    @include modular-mq(sm) {
      grid-template-areas: ".";
      grid-template-columns: 1fr;
    }

  }

  .title {
    display: flex;
    flex-direction: row;
    grid-area: title;
    padding-top: 12px;

    @include modular-mq(sm) {
      padding-bottom: 24px;
      justify-content: center;
      p {
        font-size: 40px;
      }
    }
  }

  .description {
    grid-area: description;
    padding-bottom: 12px;
    min-height: 264px;
  }

  .card .card__child .card-description {
    min-height: 110px;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card .card-tags {
    min-height: 110px;
    place-content: flex-start;
  }
}
