@import "../../organism/card";

#why {
  background-image: url(../media/img/assets/bg_why_.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 80%;
}

.why {
  display: grid;
  grid-template-areas:
    "title"
    "description";
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  width: 100%;

  .title {
    grid-area: title;
    padding-bottom: 168px;
    background-image: url(../media/img/assets/cube.png);
    background-repeat: no-repeat;
    background-position: right;
    @include animation(bote-right 3s ease infinite);
    @include modular-mq(sm) {
      background-image: none;
    }

    p {
      max-width: 700px;
    }

    @include modular-mq(sm) {
      padding-top: 24px;
      padding-bottom: 32px;

      p {
        font-size: 36px;
      }
    }

  }

  .description {
    grid-area: description;
    margin: 0 auto;

    article {
      min-height: 150px;
      &:first-child {
        left: -40%;
      }
      &:nth-child(2) {
        right: -40%;
        top: -3%;
      }
      &:nth-child(3) {
        left: -40%;
        top: -7%;
      }
      &:nth-child(4) {
        right: -40%;
        top: -11%;
      }
      @include modular-mq(sm) {
        margin: 24px 0;
        max-width: 300px;
        &:first-child {
          left: 0%;
        }
        &:nth-child(2) {
          right: 0%;
          top: 0%;
        }
        &:nth-child(3) {
          left: 0%;
          top: 0%;
        }
        &:nth-child(4) {
          right: 0%;
          top: 0%;
        }
      }
    }
  }
}
