
.card {
  @extend .mm-background-secondary;
  border-radius: $global-radius;
  position: relative;
  display: table;

  @include modular-mq(sm) {
    margin-bottom: 32px !important;
  }


  .card__child {
    display: flex;
    height: 100%;
    border-radius: 6px;
    flex-direction: column;
    position: relative;
    max-width: 350px;
    padding: 48px;
    border: 1px solid $black;
    @extend .mm-background-secondary;

    @include modular-mq(md) {
      max-width: 100%;
    }

    &-img {
      padding: 0px;
      img {
        object-fit: cover;
      }
    }

    .card-title {
      @extend .mm-text-size-xs;
      @extend .mm-text-bold;
      @extend .mm-text-primary;
    }

    .card-info {
      @extend .mm-text-primary;
      @extend .mm-text-size-xs;
      flex: 1;
    }
    .card-description {
      @extend .mm-text-primary;
      @extend .mm-text-size-xs;
      margin-top: 24px;
    }

    .card-salary {
      padding-top: 12px;
      @extend .mm-text-bold;
      @extend .mm-text-size-l;
    }

    .card__action {
      display: block;
      margin-top: 24px;
      @extend .mm-button-secondary--clean;
    }
  }


  &--large {
    .card__child {
      min-height: 404px;
      padding: 24px !important;
    }
  }

  .card__shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 6px;
    z-index: 0;
    right: -12px;
    bottom: -12px;
    border: 1px solid $black;
    @extend .mm-background-brand;

    &--primary {
      @extend .mm-background-primary;
    }
  }

  .card-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 24px 0;

    li {
      background: $primary;
      border-radius: $global-radius;
      @extend .mm-text-secondary;
      padding: 4px 8px;
      margin-right: 6px;
      margin-top: 6px;
    }

  }
}
