@import "./card";

.card {
  max-height: 465px;

  @include modular-mq(sm) {
    max-height: 550px;
  }
  .card__child--blog {
    padding: 0;
    max-width: 300px;
    height: 465px;
    @include modular-mq(sm) {
      max-width: 100%;
      height: 550px;
    }

    .card-img {
      img {
        border-top-left-radius: $global-radius;
        border-top-right-radius: $global-radius;
      }

    }

    .card-title {
      padding: 0 24px;
      margin: 12px 0 0;
      min-height: 44px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
    }

    .card-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .card-description {
        display: block;
        display: -webkit-box;
        max-width: 250px;
        margin: 0 auto;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 400;

        @include modular-mq(sm) {
          max-width: 280px;
        }
      }

      .card-department {
        padding: 0 24px 12px;
        color: #8E8E8E;
        @extend .mm-text-size-xxs;
      }

      .card-action {
        width: 100%;
        display: grid;
        margin-top: 16px;
        padding: 0 24px 24px;
      }
    }
  }
}
