#contact {
  background-image: url(../media/img/assets/bg_contact.png);
  background-repeat: no-repeat;
  background-size: 100%;

  @include modular-mq(sm) {
    padding-top: 0px;
    background-size: 0;
  }
}

.contact {
  display: grid;
  grid-template-areas:
    "title description";
  grid-template-rows: 1fr;
  grid-template-columns: 1.2fr 0.8fr;

  @include modular-mq(sm) {
    grid-template-areas:
    "title" "description";
    grid-template-columns: auto;
  }

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: title;

    @include modular-mq(sm) {
      display: flex;
      flex-direction: column;
      margin-right: 24px;
      padding-top: 24px;
      padding-bottom: 24px;

      p:nth-child(1) {
        font-size: 40px;
      }
      p:nth-child(2) {
        font-size: 32px;
      }
      p:nth-child(3) {
        font-size: 22px;
      }
    }

    .action {
      display: inline-grid;
      margin-top: 48px;
      width: 50%;
      @include modular-mq(sm) {
        width: 100%;
      }
    }
  }

  .contact-subtitle {
    margin-top: 16px;
    max-width: 360px;
  }

  .description {
    grid-area: description;
    padding-top: 170px;
    @include modular-mq(sm) {
      padding-top: 0px;
      p:nth-child(1) {
        font-size: 22px;
      }
    }

    .social-media {
      margin-top: 48px;
      margin-bottom: 32px;
    }
  }
}
