.teamtailor-jobs__job-wrapper {
  display: grid;
  grid-template-areas:
    ". . .";
  grid-template-rows: auto ;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 24px 0;
  gap: 24px;
  width: 100%;

  @include modular-mq(md) {
    grid-template-rows: auto ;
    grid-template-columns: 1fr;
    grid-template-areas:
    "."
    "."
    ".";
  }

  @include modular-mq(sm) {
    display: block;
  }
}

.teamtailor-jobs__job {
  @extend .mm-background-secondary;
  border-radius: $global-radius;
  position: relative;

  @include modular-mq(sm) {
    margin-bottom: 32px !important;
  }

  .teamtailor-jobs__child {
    display: flex;
    height: 100%;
    border-radius: 6px;
    flex-direction: column;
    position: relative;
    max-width: 332px;
    padding: 24px;
    border: 1px solid $black;
    @extend .mm-background-secondary;

    @include modular-mq(md) {
      max-width: 100%;
    }

    .teamtailor-jobs__job-new {
      position: absolute;
      right: 24px;
      @extend .mm-text-bold;
      @extend .mm-background-brand;
      @extend .mm-text-size-xxs;
      border-radius: $global-radius;
      padding: 0 6px;
    }

    .teamtailor-jobs__job-title {
      @extend .mm-text-size-xs;
      @extend .mm-text-bold;
      @extend .mm-text-primary;
      max-width: 220px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .teamtailor-jobs__job-info {
      @extend .mm-text-primary;
      @extend .mm-text-size-xxs;
      flex: 1;
    }

    .teamtailor-jobs__salary {
      padding-top: 12px;
      @extend .mm-text-bold;
      @extend .mm-text-size-l;
    }

    .teamtailor-jobs__action {
      display: block;
      margin-top: 24px;
      @extend .mm-button-secondary--clean;
    }
  }

  .teamtailor-jobs__shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 6px;
    z-index: 0;
    right: -12px;
    bottom: -12px;
    @extend .mm-background-brand;
    border: 1px $black solid;
  }
}

.teamtailor-jobs__filters {
  display: none;
  .teamtailor-jobs__select {
    display: none;
  }
}

.teamtailor-jobs__pagination {
  display: none;
}
