section#services.mm-background-secondary
  .content.services
    .title(data-aos="fade-up", data-aos-duration="400", data-aos-delay="100")
      p.mm-text-family-secondary.mm-text-size-xxxxl.mm-text-primary.mm-text-bold
        | >_
      p.mm-text-family-brand.mm-text-size-xxxxl.mm-text-primary
        | !{i18n.services.services.title}
    .description
      each val, key in i18n.services.services.options
        - var duration = 1000;
        - var delay = 300;
        article.service-item(data-aos="fade-in", data-aos-duration=duration, data-aos-delay=delay)
          header.service-item-title.mm-text-primary.mm-text-bold
            span.mm-text-family-secondary.mm-text-size-xl.mm-text-brand !{val.number}
            .info
              span.mm-text-size-xxl.mm-text-primary !{val.title}
              p.mm-text-size-m.mm-text-bold
                | !{val.description}
          .description-service
            each value in val.list
              p.mm-text-primary.mm-text-size-m.mm-text-medium
                | !{value}
            footer.service-action
              button(class=val.action.id).mm-button-primary.mm-button-m
                | #{val.action.copy}
