section#values.mm-background-black
  .content.values
    .title(data-aos="fade-right", data-aos-duration="400", data-aos-delay="100")
      p.mm-text-size-xxl.mm-text-bold.mm-text-secondary
        | _Our values
    .description
      each val, key in i18n.services.values.options
        - var duration = 1000;
        - var delay = key * 300;
        article.value-item(data-aos="fade-in", data-aos-duration=duration, data-aos-delay=delay)
          header.mm-text-secondary.mm-text-bold
            | !{val.icon}
            h3.value-item-title.mm-text-secondary.mm-text-size-xl
              | !{val.title}
          P.values-item-description.mm-text-size-s.mm-text-secondary.mm-text-light !{val.description}
