extends ../layout.pug
block title
  title
    | #{i18n.meta.title}
block content
  include ../sections/home/hero
  include ../sections/home/lastJobs
  include ../sections/home/focusBusiness
  include ../sections/home/why
  include ../sections/home/numbers
  include ../sections/home/companies
  include ../sections/home/founders
  include ../sections/home/lastBlog
