extends ../layout.pug
block title
  title
    | Mentoring - Merlin Digital partner
block content
  include ../sections/mentoring/hero
  include ../sections/mentoring/about
  include ../sections/mentoring/plans
  include ../sections/mentoring/benefits
