extends ../layout.pug
block title
  title
    | Merliners - Merlin Digital partner
block content
  include ../sections/merliners/hero
  include ../sections/merliners/founders
  include ../sections/merliners/why
  include ../sections/merliners/team
