extends ../layout.pug
block title
  title
    | Services - Merlin Digital partner
block content
  include ../sections/services/hero
  include ../sections/services/services
  include ../sections/services/values
