/* ==========================================================================
   HEADING ELEMENTS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6.
 *
 * We have all of our heading font sizes defined here. Passing these pixel
 * values into our `font-size()` mixin will generate a rem-based `font-size`
 * with a pixel fallback, as well as generating a `line-height` that will
 * sit on our baseline grid.
 */

@each $name, $value in $global-font-sizes {
  #{$name} {
    @include font-size($value);
  }
}

/* ==========================================================================
   IMAGE ELEMENT
   ========================================================================== */

/**
 * 1. Fluid images for responsive purposes.
 * 2. Offset `alt` text from surrounding copy.
 * 3. Setting `vertical-align` removes the whitespace that appears under `img`
 *    elements when they are dropped into a page as-is.
 */

img {
  max-width: 100%; /* [1] */
  font-style: italic; /* [2] */
  vertical-align: middle; /* [3] */
}


/**
 * 1. If a `width` and/or `height` attribute have been explicitly defined, let’s
 *    not make the image fluid.
 */


img[width], /* [1] */
img[height] {  /* [1] */
  max-width: none;
}

/* ==========================================================================
   PAGE ELEMENT
   ========================================================================== */

/**
 * Simple page-level setup.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 */

html {
  font-size: calc($global-font-size / 16px) * 1em; /* [1] */
  line-height: calc($global-line-height / $global-font-size); /* [1] */
  min-height: 100%; /* [3] */
}

.mm-display-none {
  display: none !important;
}
