/* ==========================================================================
   #COLOR UTILITY
   ========================================================================== */

@each $name, $value in $global-colors {
  .mm-text-hover-#{$name} {
    &:hover {
      color: $value;
    }
  }

  .mm-text-#{$name} {
    color: $value;
  }

  .mm-background-#{$name} {
    background-color: $value;
  }
}
