//#### UTILS #####
//
//

%clearfix {
  *zoom: 1;
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Generate a modifiers for css3 rules

@mixin css3($property, $value) {
     @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
          #{$prefix}#{$property}: $value;
     }
}


// Convert unit px to rems


@mixin rem($property, $values) {
  $px : ();
  $rem: ();

  @each $value in $values {

    @if $value == 0 or $value == auto {
      $px : append($px , $value);
      $rem: append($rem, $value);
    }

    @else {
      $unit: unit($value);
      $val: parseInt($value);

      @if $unit == "px" {
        $px : append($px,  $value);
        $rem: append($rem, ($val / 16 + rem));
      }

      @if $unit == "rem" {
        $px : append($px,  ($val * 16 + px));
        $rem: append($rem, $value);
      }
    }
  }

  @if $px == $rem {
    #{$property}: $px;
  } @else {
    #{$property}: $px;
    #{$property}: $rem;
  }
}

/**
 *
 * Animations are always a pain to create with all the vendor prefixes and what not.
 * But with the help of this mixin it will boil down to just a few lines of code.
 *
 * @param {*}   $name  - name of animation
 *
 *
 */

@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  -o-animation: $animation;
  -z-animation: $animation;;
  animation: $animation;
}
@mixin animation-fill-mode($fill-mode){
  -webkit-animation-fill-mode: $fill-mode;
  -moz-animation-fill-mode: $fill-mode;
  -o-animation-fill-mode: $fill-mode;
  animation-fill-mode: $fill-mode;
}
@mixin animation-duration($duration) {
  -webkit-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -o-animation-duration: $duration;
  animation-duration: $duration;
}
@mixin delay($delay) {
  -webkit-animation-delay: $delay;
  -moz-animation-delay: $delay;
  -o-animation-delay: $delay;
  animation-delay: $delay;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @-ms-keyframes #{$name} { @content; }
  @keyframes #{$name} { @content; }
}


// Cross browser opacity
// This mixin ensures cross browser opacity all the way down to Internet Explorer 5.
// Though if you have to optomize for IE5, you have a lot bigger problems than opacity, godspeed my friend.
// url: http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}


// Using this mixin you can combine media queries and normal CSS image
// replacement to send high resolution images to retina devices and standard resolution
// images everywhere else. At first please make a standard resolution image ex: logo.png and
// a high resolution image ex: logo-2x.png. If it’s a retina display, add -2x after images
// name and set background-size.
//
// Please note your CSS code might be longer than you expected when it’s complied if you have many retina images.
// If so, please avoid to use this mixin then code them in the same place.

// @link http://www.webcreatorbox.com/en/tutorials/sass-mixin-en/



@mixin imgRetina($image, $extension, $width, $height) {
     background: url($image + '.' + $extension) no-repeat;
     width: $width;
     height: $height;

     @media (min--moz-device-pixel-ratio: 1.3),
           (-o-min-device-pixel-ratio: 2.6/2),
           (-webkit-min-device-pixel-ratio: 1.3),
           (min-device-pixel-ratio: 1.3),
           (min-resolution: 1.3dppx) {
                background-image: url($image + '-2x' + '.' + $extension) no-repeat;
                background-size: $width $height;
     }
}


// Modular media queries. It keeps media query styles near the styles they override.
// You need to define some variables that contains

// @link http://www.impressivewebs.com/modular-css-media-queries-sass/

// Media queries breakpoints
// --------------------------------------------------

$mq-media:                   screen !default;
$mq-feature-min-width:       min-width !default;
$mq-feature-max-width:       max-width !default;

// Medium screen / desktop/tablet
$screen-md-min:            992px !default;

// Small screen / tablet
$screen-sm-min:              768px !default;

// Large screen / wide desktop
$screen-lg-min:              1280px !default;

//Super small / mobile
$screen-ssm-min:              414px !default;


@mixin modular-mq($breakpoint) {
  @if $breakpoint == lg {
    @media #{$mq-media} and ($mq-feature-min-width: $screen-lg-min) { @content; }
  }
  @else if $breakpoint == md {
    @media #{$mq-media} and ($mq-feature-max-width: $screen-md-min) { @content; }
  }
  @else if $breakpoint == sm {
    @media #{$mq-media} and ($mq-feature-max-width: $screen-sm-min) { @content; }
  }
  @else if $breakpoint == ssm {
    @media #{$mq-media} and ($mq-feature-max-width: $screen-ssm-min) { @content; }
  }
}


// Mixin that help you to generate all fonts extensions.
// Example of use
// @include font-face("open_sanslight", "../fonts/OpenSans-Light-webfont", 300, normal);
// @link http://codepen.io/javasteve99/pen/hDxpn

// @param {*}   $font-family  - Name of font family
// @param {*}   $file-path  - Path of fonts
// @param {number}   $font-weight  - Weight of font
// @param {*}   $font-style  - Style of font


@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
      src: url('#{$file-path}.eot');
      src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
           url('#{$file-path}.woff') format('woff'),
           url('#{$file-path}.ttf') format('truetype'),
           url('#{$file-path}.svg##{$font-family}') format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}


/**
 * Generates a rem font-size (with pixel fallback) and a baseline-compatible
 * unitless line-height from a pixel font-size value. Basic usage is simply:
 *
 *   @include font-size(18px);
 *
 * You can force a specific line-height by passing it as the second argument:
 *
 *   @include font-size(16px, 1);
 */

@mixin font-size($font-size, $line-height: auto, $important: false) {

  // We provide a `px` fallback for old IEs not supporting `rem` values.
  font-size: $font-size $important;
  font-size: calc($font-size / $global-font-size) * 1rem $important;
  @if (type-of($font-size) == number) {
    @if (unit($font-size) != "px") {
      @error "`#{$font-size}` needs to be a pixel value.";
    }
  } @else {
    @error "`#{$font-size}` needs to be a number.";
  }

  @if ($important == true) {
    $important: !important;
  } @else if ($important == false) {
    $important: null;
  } @else {
    @error "`#{$important}` needs to be `true` or `false`.";
  }

    // We provide a `px` fallback for old IEs not supporting `rem` values.
  font-size: $font-size $important;
  font-size: calc($font-size / $global-font-size) * 1rem $important;



  @if ($line-height == "auto") {
    // Define how many grid lines each text line should span.
    // By default, we set it to the minimum number of lines necessary
    // in order to contain the defined font-size, +1 for some breathing room.
    $lines: calc($font-size / $global-baseline) + 1;
    $line-height: $lines * $global-baseline;

    line-height: calc($line-height / $font-size) $important;
  }


  @else {
    @if (type-of($line-height) == number or $line-height == "inherit" or $line-height == "normal") {
      line-height: $line-height $important;
    }

    @else if ($line-height != "none" and $line-height != false) {
      @error "`#{$line-height}` is not a valid value for `$line-height`.";
    }
  }
}
// Check that the chosen font rules are pixel numbers.

@each $_font-globals in $global-font-size $global-line-height {

  @if (type-of($_font-globals) == number) {

    @if (unit($_font-globals) != "px") {
      @error "`#{$_font-globals}` needs to be a pixel value.";
    }

  } @else {
    @error "`#{$_font-globals}` needs to be a number.";
  }

}
