/* ==========================================================================
   #TEXT UTILITY
   ========================================================================== */

/**
 * Usual text utility classes to overcome the common text management needs.
 */

/* Font Family.
   ========================================================================== */
@each $name, $value in $global-font-family {
  .mm-text-family-#{$name} {
    font-family: $value;
  }
}


/* Alignment.
   ========================================================================== */


$alignments: (
  left: left,
  center: center,
  right: right,
  justify: justify
);

@each $name, $value in $alignments {
  .mm-text-#{$name} {
    text-align: $value;
  }
}




/* Weights.
   ========================================================================== */


$text-weights: (
  "light": 300,
  "medium": 500,
  "bold": bold,
);

@each $name, $value in $text-weights {
  .mm-text-#{$name} {
    font-weight: $value;
  }
}





/* Style.
   ========================================================================== */


.mm-text-italic {
  font-style: italic;
}





/* Transform.
   ========================================================================== */


$text-transforms: (
  uppercase: uppercase,
  lowercase: lowercase,
  capitalize: capitalize
);

@each $name, $value in $text-transforms {
  .mm-text-#{$name} {
    text-transform: $value;
  }
}

/* Size.
   ========================================================================== */

@each $name, $value in $global-font-sizes {
  .mm-text-size-#{$name} {
    @include font-size($value);
  }
}


/* Decoration.
   ========================================================================== */


$text-decorations: (
  underline: underline,
  line-through: line-through,
  no-underline: none
);

@each $name, $value in $text-decorations {
  .mm-text-#{$name} {
    text-decoration: $value;
  }
}
