/* ======================================================================
  Settings
======================================================================== */

// Media Query
$global-mq-breakpoints: (
  mobile:   576px,
  tablet:   768px,
  desktop:  992px,
  wide:     1024px
) !default;

// Global Settings

$global-radius: 6px;
$global-transition: 0.3s !default;

// Global colors
$global-colors: (
  "black": #000000,
  "brand":  #00FFDA,
  "primary":#23272F,
  "secondary":#FFFFFF,
  "transparent": transparent,
);
$brand:      #00FFDA;
$primary    :#23272F;
$secondary:  #FFFFFF;
$black:      #000000;


/**
 * Baseline grid lines height.
 * Every spacing metric should be based on this.
 */

$global-baseline: 6px !default;

/**
 * How many grid lines should our spacing unit variants span?
 * Each value should be an unitless integer.
 */

$unit-factor-tiny:   1 !default;   // 6px
$unit-factor-small:  2 !default;   // 12px
$unit-factor:        4 !default;   // 24px
$unit-factor-large:  8 !default;   // 48px
$unit-factor-huge:  16 !default;   // 96px
/**
 * This will give us variables to create spacing values such as padding and
 * margin utilities and mantain vertical rythm across the project.
 *
 * It is not recommended that you modify these following variables
 * (it can break your vertical rhythm).
 */

$global-spacing-unit-tiny:  $global-baseline * $unit-factor-tiny !default;
$global-spacing-unit-small: $global-baseline * $unit-factor-small !default;
$global-spacing-unit:       $global-baseline * $unit-factor !default;
$global-spacing-unit-large: $global-baseline * $unit-factor-large !default;
$global-spacing-unit-huge:  $global-baseline * $unit-factor-huge !default;

// Global font sizes
$global-font-size: 16px !default;
$global-line-height: $global-spacing-unit !default;
$global-font-sizes: (
  bigest: 88px,
  xxxxl: 70px,
  xxxl: 52px,
  xxl: 42px,
  xl: 28px,
  l: 24px,
  m: 20px,
  s: 18px,
  xs: 16px,
  xxs: 12px,
) !default;


// Typography
// -------------------------
$global-font-family: (
  brand: 'Bungee Shade',
  primary: 'Futura PT',
  secondary: 'Press Start 2P'
) !default;

$font-family-brand: 			'Bungee Shade', Arial, Helvetica, sans-serif;
$font-family-primary: 		'Futura PT', Arial, Helvetica, sans-serif;
$font-family-secondary: 	'Press Start 2P', Arial, Helvetica, sans-serif;

$font-size-button: 				22px;
$font-size-copy-footer:	  12px;

// Others
// -------------------------
$content-width: 				1024px;
