section#about.mm-background-secondary
  .content.about
    .title(data-aos="fade-right", data-aos-duration="400", data-aos-delay="100")
      span.mm-text-family-secondary.mm-text-size-xxxxl.mm-text-brand
        svg(width="71" height="89" viewBox="0 0 71 89" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(fill-rule="evenodd" clip-rule="evenodd" d="M63.9381 9.92328L67.7343 4.66329L62.4763 0.86858L58.6801 6.12856L53.422 2.33379L49.6276 7.59147L44.3676 3.79532L29.1871 24.8296L23.929 21.0349L20.1329 26.2949L25.3909 30.0896L25.3909 30.0897L14.8748 22.5003L11.0801 27.7583L21.5962 35.3477L17.8017 40.6054L23.0617 44.4016L26.8562 39.1439L30.6509 33.8859L49.6273 7.59182L65.4034 18.9774L69.1981 13.7194L63.9381 9.92328ZM52.5526 25.6992L47.2945 21.9045L51.0907 16.6445L56.3487 20.4392L52.5526 25.6992ZM39.7049 32.4209L44.9629 36.2156L48.7576 30.9576L43.4996 27.1628L39.7049 32.4209ZM37.3722 46.7333L32.1142 42.9386L35.9089 37.6806L41.1669 41.4753L37.3722 46.7333ZM19.2653 49.6618L35.0414 61.0474L38.8375 55.7874L23.0615 44.4018L19.2653 49.6618ZM44.0958 59.5819L38.8378 55.7872L42.6323 50.5295L46.427 45.2715L46.427 45.2714L50.2232 40.0114L65.4037 18.9771L70.6617 22.7718L55.4812 43.8061L60.7392 47.6008L56.943 52.8609L51.685 49.0661L51.685 49.0662L62.203 56.6571L58.4083 61.9151L47.8903 54.3242L44.0958 59.5819ZM7.28523 33.0166L12.5432 36.8113L16.338 31.5533L11.0799 27.7585L7.28523 33.0166ZM54.6134 67.1734L49.3534 63.3772L53.1481 58.1192L58.4081 61.9153L54.6134 67.1734ZM25.9865 62.5095L22.1919 67.7673L27.452 71.5634L19.8611 82.0815L4.08503 70.6959L11.6759 60.1778L16.9339 63.9725L20.7285 58.7148L25.9865 62.5095ZM7.01169 88.8013L1.75368 85.0066L5.54815 79.7489L0.290098 75.9542L4.08481 70.6962L14.6008 78.2856L10.8064 83.5433L7.01169 88.8013Z" fill="#00FFDA")
      .box
        p.mm-text-family-primary.mm-text-size-xxxl.mm-text-primary.mm-text-bold
          | !{i18n.mentoring.about.title}
    .description(data-aos="fade-left", data-aos-duration="400", data-aos-delay="100")
      p.mm-text-family-primary.mm-text-size-m.mm-text-primary.mm-text-medium
        | !{i18n.mentoring.about.subtitle}
      br
      p.mm-text-light.mm-text-size-s
        | !{i18n.mentoring.about.description}
      .menu-get-touch
        a(href=i18n.mentoring.about.action.href).mm-text-size-xs.mm-button-secondary--clean
          | #{i18n.mentoring.about.action.copy}
