section#benefits.mm-background-secondary
  .content.benefits
    .title(data-aos="fade-right", data-aos-duration="400", data-aos-delay="100")
      span.mm-text-size-xxl.mm-text-bold.mm-text-brand >_
      p.mm-text-size-xxxxl.mm-text-bold
        | !{i18n.mentoring.benefits.title}
    .description
      each val, key in i18n.mentoring.benefits.list
        - var duration = 1000;
        - var delay = key * 300;
        article.benefits-item(data-aos="fade-out", data-aos-duration=duration, data-aos-delay=delay)
          header
            h3.benefits-item-subtitle.mm-text-family-brand.mm-text-size-xxxxl
              | !{val.number}
            h4.benefits-item-title.mm-text-size-xxl.mm-text-bold
              | !{val.title}
          .mm-text-light.mm-text-size-s
            | !{val.description}
