section#hero.mm-background-black.mm-not-padding
  .content.hero
    .title
      h1.mm-text-family-brand.mm-text-size-xxxxl.mm-text-secondary.mm-text-center(data-aos="fade-up", data-aos-duration="400", data-aos-delay="100")
        span.mm-text-brand.mm-text-family-brand
          | >_
        | !{i18n.mentoring.hero.title}
      .actions.mm-text-center(data-aos="fade-up", data-aos-duration="700", data-aos-delay="500")
        a(href=i18n.mentoring.hero.action1.href).mm-button-primary.mm-button-s
          | #{i18n.mentoring.hero.action1.copy}
        a(href=i18n.mentoring.hero.action2.href).mm-button-primary.mm-button-s
          | #{i18n.mentoring.hero.action2.copy}

