section#plans.mm-background-black.mm-not-padding
  .content.plans#plansTalent
    .title
      .box
        p.mm-text-size-xxl.mm-text-brand.mm-text-bold(data-aos="fade-right", data-aos-duration="400", data-aos-delay="100")
          | >_
        p.plan-title.mm-text-size-xxl.mm-text-secondary.mm-text-bold(data-aos="fade-right", data-aos-duration="400", data-aos-delay="100")
          | !{i18n.mentoring.plans.title}
        p.plan-subtitle.mm-text-size-xl.mm-text-brand.mm-text-bold(data-aos="fade-up", data-aos-duration="400", data-aos-delay="400")
          | !{i18n.mentoring.plans.subtitle}
        p.plan-subtitle.mm-text-size-s.mm-text-secondary.mm-text-light(data-aos="fade-up", data-aos-duration="400", data-aos-delay="400")
          | !{i18n.mentoring.plans.description}
    .description
      each val, key in i18n.mentoring.plans.options
        - var duration = 1000;
        - var delay = key * 400;
        article.plans-item(data-aos="fade-in", data-aos-duration=duration, data-aos-delay=delay)
          header.plans-item-title.mm-text-size-xxl.mm-text-bold
            p.mm-text-brand
              | !{val.title}
            p.mm-text-secondary.mm-text-bold
              | !{val.subtitle}
          p.plan-description.mm-text-secondary.mm-text-size-xs.mm-text-light
            | !{val.description}
          .plan-info
            p.mm-text-secondary.mm-text-size-xxxl
              | #{val.price}
            small.mm-text-secondary.mm-text-light
              | #{val.tax}
          footer.plans-action
            a(href=val.action.href).mm-button-primary.mm-button-m
              | #{val.action.copy}
  .content.plans#plansCompany
    .title
      .box
        p.mm-text-size-xxl.mm-text-brand.mm-text-bold(data-aos="fade-right", data-aos-duration="400", data-aos-delay="100")
          | >_
        p.plan-title.mm-text-size-xxl.mm-text-secondary.mm-text-bold(data-aos="fade-right", data-aos-duration="400", data-aos-delay="100")
          | !{i18n.mentoring.plansCompany.title}
        p.plan-subtitle.mm-text-size-xl.mm-text-brand.mm-text-bold(data-aos="fade-up", data-aos-duration="400", data-aos-delay="400")
          | !{i18n.mentoring.plansCompany.subtitle}
        p.plan-subtitle.mm-text-size-s.mm-text-secondary.mm-text-light(data-aos="fade-up", data-aos-duration="400", data-aos-delay="400")
          | !{i18n.mentoring.plansCompany.description}
    .description
      each val, key in i18n.mentoring.plansCompany.options
        - var duration = 1000;
        - var delay = key * 400;
        article.plans-item(data-aos="fade-in", data-aos-duration=duration, data-aos-delay=delay)
          header.plans-item-title.mm-text-size-xxl.mm-text-bold
            p.mm-text-brand
              | !{val.title}
          p.plan-description.mm-text-secondary.mm-text-size-xs.mm-text-light
            | !{val.description}
          .plan-info
            p.mm-text-secondary.mm-text-size-xxxl
              | #{val.price}
            small.mm-text-secondary.mm-text-light
              | #{val.tax}
          footer.plans-action
            a(href=val.action.href).mm-button-primary.mm-button-m
              | #{val.action.copy}
