section#blog.mm-background-black
  .content.blog
    .description
      p.mm-text-family-primary.mm-text-secondary.mm-text-size-l.mm-text-bold
        | !{i18n.blog.description}
    .title(data-aos="fade-right", data-aos-duration="400", data-aos-delay="100")
      p.mm-text-family-primary.mm-text-size-xxl.mm-text-secondary.mm-text-bold
        span.mm-text-brand _
        | !{i18n.blog.title}
    .filters-blog
      select(placeholder=i18n.blog.select.placeholder).filter-categories
        option(value="all") !{i18n.blog.select.all}
    .list-post
