@import "../../organism/card_blog";
.filters-blog {
  margin-top: 24px;
  select {
    appearance: none;
    border-radius: 4px;
    width: 220px;
    padding: 12px;
    text-align: inherit;
    margin-bottom: 52px;

    &:after {
      content: '\25BC';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      outline: 0;
      color: #fff;
      padding: 12px;
    }

    @include modular-mq(sm) {
      margin-bottom: 12px;
      width: 100%;
    }
  }
}

.list-post {
  display: grid;
  grid-template: '. . .';
  grid-template-columns: 1fr 1fr 1fr;
  gap: 48px;
  padding-top: 24px;
  min-height: 465px;

  @include modular-mq(sm) {
    grid-template: '.';
    grid-template-columns: auto;
  }
}
