@import "../../organism/widget_teamtailor";

#jobs {
  padding-top: 64px;
  background-image: url('../media/img/assets/bg_jobs.png');
  background-position: top right;
  background-repeat: no-repeat;
  @include modular-mq(sm) {
    background-image: none;
  }
}

.jobs {
  display: grid;
  grid-template-areas:
    "description" "title" ;
  grid-template-columns: auto;
  width: 100%;

  .title {
    display: flex;
    flex-direction: row;
    grid-area: title;
    padding-top: 12px;

    @include modular-mq(sm) {
      padding-bottom: 24px;
      justify-content: center;
      p {
        font-size: 40px;
      }
    }
  }

  .description {
    grid-area: description;
    padding-bottom: 12px;
  }

  .jobs-list {
    padding-top: 24px;
    min-height: 1232px;
  }
}
