.post-title {
  padding-top: 48px;
}

.post-info {
  display: flex;
  align-items: center;
  padding: 12px 0;
  color: #8E8E8E;
  @extend .mm-text-size-xs;

  .post-category {
    margin-right: 8px;
  }
  .post-date {
    margin-left: 8px;
  }
}

.post-main {
  padding: 24px 0 120px;
  p {
    padding: 6px 0;
    @extend .mm-text-size-s;
    @extend .mm-text-light
  }
  .wp-block-quote {
    border-left: 0.25em solid;
    margin: 0 0 1.75em;
    padding-left: 1em;
  }
  h5 {
    font-size: 25px !important;
    line-height: 1 !important;
  }
  .has-text-align-left {
    text-align: left;
  }
}
