@import "../../organism/card_blog";

.recommend {
  .list-recommend {
    display: grid;
    grid-template: '. . .';
    grid-template-columns: 1fr 1fr 1fr;
    gap: 48px;
    margin-top: 48px;

    @include modular-mq(sm) {
      grid-template: '.';
      grid-template-columns: auto;
    }
  }
}
