
@-webkit-keyframes respirar-profundo {
    0%{background-position:0% 150%;}
    50%{background-position:100% 125%;}
    100%{background-position:0% 150%;}
}
@-moz-keyframes respirar-profundo {
    0%{background-position:0% 150%;}
    50%{background-position:100% 125%;}
    100%{background-position:0% 150%;}
}
@-o-keyframes respirar-profundo {
    0%{background-position:0% 150%;}
    50%{background-position:100% 125%;}
    100%{background-position:0% 150%;}
}
@keyframes respirar-profundo {
    0%{background-position:0% 150%;}
    50%{background-position:100% 125%;}
    100%{background-position:0% 150%;}
}


@-webkit-keyframes respirar {
    0%{background-position:0% 82%;}
    50%{background-position:0% 100%;}
    100%{background-position:0% 82%;}
}
@-moz-keyframes respirar {
    0%{background-position:0% 82%;}
    50%{background-position:0% 100%;}
    100%{background-position:0% 82%;}
}
@-o-keyframes respirar {
    0%{background-position:0% 82%;}
    50%{background-position:0% 100%;}
    100%{background-position:0% 82%;}
}
@keyframes respirar {
    0%{background-position:0% 82%;}
    50%{background-position:0% 100%;}
    100%{background-position:0% 82%;}
}


@-webkit-keyframes bote-right {
    0%{background-position:100% 0%;}
    50%{background-position:100% 100%;}
    100%{background-position:100% 0%;}
}
@-moz-keyframes bote-right {
    0%{background-position:100% 0%;}
    50%{background-position:100% 100%;}
    100%{background-position:100% 0%;}
}
@-o-keyframes bote-right {
    0%{background-position:100% 0%;}
    50%{background-position:100% 100%;}
    100%{background-position:100% 0%;}
}
@keyframes bote-right {
    0%{background-position:100% 0%;}
    50%{background-position:100% 100%;}
    100%{background-position:100% 0%;}
}

