.overlay {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  background-color: $black;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-image: url(../media/img/assets/Bacground_founders.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 30% auto;

  @include modular-mq(sm) {
    background-size: contain;
  }
}
