.founders {
  .card .card__child {
    max-width: 500px;
  }
  .card__child-img {
    position: relative;
    max-height: 548px !important;
    max-width: 548px;

    img {
      height: 100%;
      width: 100%;
      aspect-ratio: 1 / 1;
      border-radius: 6px;
      cursor: pointer;
    }
    .default {
      position: absolute;
      display: block;
      z-index: 1;
    }
    .hover {
      z-index: 0;
    }
  }

  .info {

    .founders-item {
      display: grid;
      grid-template-areas: ". .";
      grid-template-columns: 1fr 1fr;
      gap: 64px;
      @include modular-mq(sm) {
        grid-template-areas: ".";
        grid-template-columns: 1fr;
      }

      .founders-item-info {
        h4 {
          margin-bottom: 12px;
        }
        span {
          margin-bottom: 24px;
        }
      }
    }

    .founders-item-photo {
      margin-top: 48px;
    }
  }
}
