.hero {
  display: flex;
  flex-direction: column;
  background-image: url(../media/img/assets/MA_merliners.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;

  @include modular-mq(sm) {
    background-position: center;
    background-size: cover;
  }

  .title {
    padding-top: 148px;
    padding-bottom: 148px;
    width: 100%;

    @include modular-mq(sm) {
      h1, h2 {
        font-size: 32px;
      }
    }
    h1 {
      margin: 32px 0;
    }

    .actions {
      padding-top: 12px;
      a {
        min-width: 200px;
      }
    }
  }
}
