.team {
  .title {
    margin-bottom: 48px;
  }
  .card .card__child {
    max-width: 500px;
  }
  .card__child-img {
    position: relative;
    max-height: 548px !important;
    max-width: 548px;

    img {
      height: 100%;
      width: 100%;
      aspect-ratio: 1 / 1;
      border-radius: 6px;
      cursor: pointer;
    }
    .default {
      position: absolute;
      display: block;
      z-index: 1;
      border-radius: $global-radius;
      background: #cccbcf;
    }
    .hover {
      z-index: 0;
    }
  }

  .info {
    display: grid;
    grid-template: ". . .";
    grid-template-columns: 1fr 1fr 1fr;
    gap: 48px;
    @include modular-mq(sm) {
      grid-template-areas: ".";
      grid-template-columns: 1fr;
    }
  }


  .team-item-info {
    position: absolute;
    bottom: 0;
    z-index: 9;
    padding: 24px;
  }

}
