#why {
  background-image: url(../media/img/assets/bg_why.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}
.why {
  display: grid;
  grid-template: ". .";
  grid-template-columns: 1fr 1fr;
  gap: 72px;
  @include modular-mq(sm) {
    grid-template-areas: ".";
    grid-template-columns: 1fr;
  }

  .description {
    p {
      margin-bottom: 24px;
    }
  }
}
