section#jobs.mm-background-black
  .content.jobs
    .description
      p.mm-text-family-primary.mm-text-secondary.mm-text-size-l.mm-text-bold
        | !{i18n.jobs.description}
    .title(data-aos="fade-right", data-aos-duration="400", data-aos-delay="100")
      p.mm-text-family-primary.mm-text-size-xxl.mm-text-secondary.mm-text-bold
        span.mm-text-brand _
        | !{i18n.jobs.title}
    script(src='https://scripts.teamtailor-cdn.com/widgets/production/jobs.js' async='' charset='utf-8')
    .jobs-list.mm-not-opacity.teamtailor-jobs-widget(data-aos="fade-left", data-aos-duration="400", data-aos-delay="100", data-teamtailor-limit="15"
      data-teamtailor-pagination="true"
      data-teamtailor-popup="true"
      data-teamtailor-department-select="false"
      data-teamtailor-role-select="false"
      data-teamtailor-location-select="false"
      data-teamtailor-api-key="Gbr2JeEkJKcdtbqmyj63gb0EQbcisRc_Byz9gKxW")
