@import "_fonts";
@import "_icons";
@import "../atoms/buttons";
@import "../atoms/top";
@import "../atoms/cookies";
/* ======================================================================
	Layout
======================================================================== */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  font-weight: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ul[role="list"],
ol[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

section {
  padding-top: 168px;
  padding-bottom: 168px;
  @include modular-mq(sm) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}

%fix {
    &:after {
        clear: both;
        content: "";
        display: table;
    }

    &:before {
        content: "";
        display: table;
    }
}

body {
  font-family: $font-family-primary;
  font-weight: 500;
}

.content {
    @extend %clearfix;
    margin: 0 auto;
    max-width: $content-width;
    position: relative;
    padding: 0 15px;
    @include modular-mq(sm) {
      padding: 0 48px;
    }

    @include modular-mq(ssm) {
      padding: 16px;
    }
}

a, a:visited, a:hover, a:active, a:focus {
    text-decoration: none;
    color: inherit;
}

.mm-not-padding {
  padding: 0;
}

.mm-not-opacity {
  opacity: 0 !important;
}

.mm-overlay {
  background-color: $black;
  opacity: .65;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

