/* ======================================================================
	Footer
======================================================================== */
@import "../organism/contact";

.footer-container {
  display: grid;
  grid-template-areas:
    ". . ."
    "info info info";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 168px;
  padding-bottom: 168px;
  gap: 0px 48px;

  @include modular-mq(sm) {
    grid-template-columns: auto;
    grid-template-areas: ". ." ". ." "info info";
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 0px 12px;
    grid-template-columns: 1fr 1fr;
  }

  ul {
    margin: 0;
    .footer-title {
      padding-bottom: 24px;
      @include modular-mq(sm) {
        font-size: 20px;
      }
    }
    padding-bottom: 24px;
  }

  .box {
    padding-top: 24px;
    padding-bottom: 24px;
  }


  .info {
    display: flex;
    align-items: center;
    grid-area: info;
    > span {
      margin-left: 24px;
    }
  }
}
