@import "../organism/menu";

.menu-header {
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: flex-end;
  z-index: 10;
  padding: 24px 56px;
  width: 100%;

  @include modular-mq(sm) {
    padding-right: 12px;
    padding-left: 12px;
  }
}
