@font-face {
  font-family: 'fontello';
  font-weight: normal;
  font-style: normal;
  src: url('../../media/fonts/fontello.eot?66642244');
  src: url('../../media/fonts/fontello.eot?66642244#iefix') format('embedded-opentype'),
       url('../../media/fonts/fontello.woff2?66642244') format('woff2'),
       url('../../media/fonts/fontello.woff?66642244') format('woff'),
       url('../../media/fonts/fontello.ttf?66642244') format('truetype'),
       url('../../media/fonts/fontello.svg?66642244#fontello') format('svg');
}

 [class^="icon-"]:before, [class*=" icon-"]:before {

  display: inline-block;
  margin: 8px;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */

  width: 1em;
  text-align: center;
  text-transform: none;
  text-decoration: inherit;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  font-family: "fontello";
  font-weight: normal;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  font-style: normal;
  speak: never;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-mail-1:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-up:before { content: '\e802'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-facebook:before { content: '\f308'; } /* '' */
.icon-linkedin:before { content: '\f30c'; } /* '' */
