section#founders.mm-background-black
  .content.founders
    .title(data-aos="fade-right", data-aos-duration="600")
      p.mm-text-family-primary.mm-text-size-xl.mm-text-brand.mm-text-bold
        | >_
      p.mm-text-family-primary.mm-text-size-xxl.mm-text-secondary.mm-text-bold
        | !{i18n.merliners.founders.title}
    .info
      each val, key in i18n.merliners.founders.list
        - var duration = 600;
        - var delay = key * 200;
        article.founders-item(data-aos="fade-in", data-aos-duration=duration, data-aos-delay=delay)
          .founders-item-photo
            a(href=val.link, target='_blank', nooreferrer)
              .card
                .card__shadow
                .card__child.card__child-img
                  picture.hover
                    source(srcset=val.hoverImg)
                    img(src=val.hoverImg, alt=val.title)
                  picture.default
                    source(srcset=val.src)
                    img(src=val.src, alt=val.title)
          .founders-item-info
            h4.mm-text-secondary.mm-text-size-xxl.mm-text-bold
              | !{val.title}
            span.mm-text-secondary.mm-text-size-l.mm-text-medium
              | !{val.subTitle}
            p.mm-text-secondary.mm-text-light.mm-text-size-s
              | !{val.description}
