section#hero.mm-background-black.mm-not-padding
  .content.hero
    .title
      h1.mm-text-family-brand.mm-text-size-xxxxl.mm-text-secondary.mm-text-center(data-aos="fade-left", data-aos-duration="700", data-aos-delay="400")
        span.mm-text-secondary.mm-text-family-brand
          | !{i18n.merliners.hero.title}
      h2.mm-text-size-xxl.mm-text-secondary.mm-text-center.mm-text-bold(data-aos="fade-down", data-aos-duration="500", data-aos-delay="100")
        | !{i18n.merliners.hero.description}

