section#team.mm-background-black
  .content.team
    .title(data-aos="fade-right", data-aos-duration="600")
      p.mm-text-family-primary.mm-text-size-xl.mm-text-brand.mm-text-bold
        | >_
      p.mm-text-family-primary.mm-text-size-xxl.mm-text-secondary.mm-text-bold
        | !{i18n.merliners.team.title}
    .info
      each val, key in i18n.merliners.team.list
        - var duration = 600;
        - var delay = key * 200;
        article.team-item(data-aos="fade-in", data-aos-duration=duration, data-aos-delay=delay)
          .team-item-title
            a(href=val.link, target='_blank', nooreferrer)
              .card
                .card__shadow
                .card__child.card__child-img
                  picture.hover
                    source(srcset=val.hoverImg)
                    img(src=val.hoverImg, alt=val.title)
                  picture.default
                    source(srcset=val.src)
                    img(src=val.src, alt=val.title)
                .team-item-info
                  h4.mm-text-secondary.mm-text-size-l.mm-text-bold
                    | !{val.title}
                  span.mm-text-secondary.mm-text-size-xs.mm-text-medium
                    | !{val.subTitle}
