section#why.mm-background-black
  .content
    .why
      .why-img(data-aos="fade-left", data-aos-duration="700", data-aos-delay="400")
        img(src='../media/img/assets/why_merlin.png', alt='why')
      .description.mm-text-secondary(data-aos="fade-right", data-aos-duration="700", data-aos-delay="400")
        p.mm-text-secondary.mm-text-size-l
          | !{i18n.merliners.why.description1}
        p.mm-text-secondary.mm-text-size-l
          | !{i18n.merliners.why.description2}
        p.mm-text-secondary.mm-text-size-l
          | !{i18n.merliners.why.description3}
        p.mm-text-secondary.mm-text-size-l
          | !{i18n.merliners.why.description4}
