doctype html
html(lang!=lang, page!=page)
  //
    .
     _   _      _ _                             _     _ _ 
    | | | | ___| | | ___    __      _____  _ __| | __| | |
    | |_| |/ _ \ | |/ _ \   \ \ /\ / / _ \| '__| |/ _` | |
    |  _  |  __/ | | (_) |   \ V  V / (_) | |  | | (_| |_|
    |_| |_|\___|_|_|\___( )   \_/\_/ \___/|_|  |_|\__,_(_)
                        |/ 
    .
  head
    block title
    include ./includers/head
    link(rel="stylesheet" href=`/css/${page}.min.css`)
    block scripts-head
  body(data-language!=lang).mm-background-black
    include sections/header
    main
      include ./includers/forms
      block content
    include sections/footer
    include sections/top
    include includers/cookies
    script(src=`/js/${page}.js`)
    block scripts-footer
