.cookies
  .container
    p
      | #{i18n.cookies.text}
      a(href=i18n.cookies.url, target="_blank").mm-text-underline
        | #{i18n.cookies.link_text}
    .action
      button.mm-button-brand.js-yes-cookie
        | Go
      button.mm-button-secondary.js-no-cookie
        | No
