meta(charset='utf-8')
meta(name="description" content=i18n.meta.description)
meta(content='width=device-width, initial-scale=1.0', name='viewport')
meta(property='og:image', content='')
meta(property='og:title', content=i18n.meta.title)
meta(property='og:url', content='https://www.merlindp.com/')
meta(property='og:description', content='')
meta(name='twitter:card', content='')
meta(name='twitter:site', content='')
meta(name='twitter:title', content='')
meta(name='twitter:description', content='')
meta(name='twitter:creator', content='')
meta(name='twitter:image', content='')
meta(content='', property='og:image')
link(rel='apple-touch-icon' sizes='57x57' href='/media/favicon/apple-icon-57x57.png')
link(rel='apple-touch-icon' sizes='60x60' href='/media/favicon/apple-icon-60x60.png')
link(rel='apple-touch-icon' sizes='72x72' href='/media/favicon/apple-icon-72x72.png')
link(rel='apple-touch-icon' sizes='76x76' href='/media/favicon/apple-icon-76x76.png')
link(rel='apple-touch-icon' sizes='114x114' href='/media/favicon/apple-icon-114x114.png')
link(rel='apple-touch-icon' sizes='120x120' href='/media/favicon/apple-icon-120x120.png')
link(rel='apple-touch-icon' sizes='144x144' href='/media/favicon/apple-icon-144x144.png')
link(rel='apple-touch-icon' sizes='152x152' href='/media/favicon/apple-icon-152x152.png')
link(rel='apple-touch-icon' sizes='180x180' href='/media/favicon/apple-icon-180x180.png')
link(rel='icon' type='image/png' sizes='192x192' href='/media/favicon/android-icon-192x192.png')
link(rel='icon' type='image/png' sizes='32x32' href='/media/favicon/favicon-32x32.png')
link(rel='icon' type='image/png' sizes='96x96' href='/media/favicon/favicon-96x96.png')
link(rel='icon' type='image/png' sizes='16x16' href='/media/favicon/favicon-16x16.png')
link(rel='manifest' href='/media/favicon/manifest.json')
meta(name='msapplication-TileColor' content='#ffffff')
meta(name='msapplication-TileImage' content='/media/favicon/ms-icon-144x144.png')
meta(name='theme-color' content='#ffffff')
script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-2FZ756GZNS')
script.
  const getCookie = (cname) => {
    var name = cname + '='
    var ca = document.cookie.split(';')
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i]
      while (c.charAt(0) == ' ') {
        c = c.substring(1)
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length)
      }
    }
    return ''
  }
  const cookie = getCookie('merlin_cook');
  if (cookie && cookie === 'yes') {
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-2FZ756GZNS');
  }
  
dataLayer
