section#companies.mm-background-secondary
  .content.companies
    .title
      p.mm-text-family-primary.mm-text-size-xxl.mm-text-primary.mm-text-bold.mm-text-center
        | !{i18n.about.companies.title}
    ul.description
      each val, key in i18n.about.companies.logos
        li.companies-item
          picture.companies-item-logo
            source(srcset=val.src)
            img(src=val.src, alt=val.title)
