section#focusOnYourBusiness.mm-background-brand
  .content
    .focusOnYourBusiness
      .title(data-aos="fade-right", data-aos-duration="400", data-aos-delay="100")
        span.mm-text-family-secondary.mm-text-size-xxxxl.mm-text-primary >_
        p.mm-text-family-brand.mm-text-size-xxxxl
          | !{i18n.about.focusBusiness.title}
      .description(data-aos="fade-left", data-aos-duration="400", data-aos-delay="100")
        .box
          p.mm-text-family-primary.mm-text-size-xxl.mm-text-primary.mm-text-bold
            | !{i18n.about.focusBusiness.subtitle}
          p.mm-text-size-s.mm-text-medium
            | !{i18n.about.focusBusiness.description}
          .action
            button(class=i18n.about.focusBusiness.action.id).mm-button-primary--clean
              | #{i18n.about.focusBusiness.action.copy}  
    include ./toptalent
     
