section#founders.mm-background-black
  .content.founders
    .title(data-aos="fade-right", data-aos-duration="600")
      p.mm-text-family-brand.mm-text-size-xxxxl.mm-text-secondary.mm-text-right
        | !{i18n.about.founders.title}
      p.mm-text-family-brand.mm-text-size-xxxxl.mm-text-brand.mm-text-right
        | !{i18n.about.founders.subtitle}
    .images
      picture(data-aos="fade-left", data-aos-duration="600", data-aos-delay="200")
        source(srcset=i18n.about.founders.srcImage)
        img(src=i18n.about.founders.srcImage, alt=i18n.about.founders.title)
      p.image-description.mm-text-size-xl.mm-text-bold.mm-text-secondary(data-aos="fade-left", data-aos-duration="600", data-aos-delay="400") #{i18n.about.founders.description}
