section#hero.mm-background-black.mm-not-padding
  .content.hero
    .copy
      h1.mm-text-family-primary.mm-text-light.mm-text-size-l.mm-text-secondary(data-aos="fade-left", data-aos-duration="500", data-aos-delay="100")
        | #{i18n.about.hero.title}
      h2.mm-text-family-primary.mm-text-bold.mm-text-size-xxl.mm-text-secondary(data-aos="fade-left", data-aos-duration="700", data-aos-delay="600")
        | !{i18n.about.hero.subtitle}
    .image
      picture
        img(src="../media/img/hero_home.gif", alt="Merlin HHRR")
