section#lastJobs.mm-background-secondary
  .content
    .focusOnYou
      .title(data-aos="fade-right", data-aos-duration="400", data-aos-delay="100")
        span.mm-text-family-secondary.mm-text-size-xxxxl.mm-text-primary >_
        p.mm-text-family-brand.mm-text-size-xxxxl
          | !{i18n.about.lastJobs.title}
      .description(data-aos="fade-left", data-aos-duration="400", data-aos-delay="100")
        .box
          p.mm-text-family-primary.mm-text-size-xxl.mm-text-primary.mm-text-bold
            | !{i18n.about.lastJobs.subtitle}
          p.mm-text-size-s.mm-text-medium
            | !{i18n.about.lastJobs.description}
          .action
            button(class=i18n.about.lastJobs.action.id).mm-button-primary--clean
              | #{i18n.about.lastJobs.action.copy}
    script(src='https://scripts.teamtailor-cdn.com/widgets/production/jobs.js' async='' charset='utf-8')
    .lastJobs
      p.title.mm-text-family-primary.mm-text-size-xxl.mm-text-bold
        | !{i18n.about.lastJobs.offerTitle}
      description.lastOffers-list.mm-not-opacity.teamtailor-jobs-widget(data-aos="fade-left", data-aos-duration="400", data-aos-delay="100", data-teamtailor-limit="3"
        data-teamtailor-pagination="false"
        data-teamtailor-popup="false"
        data-teamtailor-department-select="false"
        data-teamtailor-role-select="false"
        data-teamtailor-location-select="false"
        data-teamtailor-api-key="Gbr2JeEkJKcdtbqmyj63gb0EQbcisRc_Byz9gKxW")
      a(href=`/${lang}/jobs.html`, data-aos="fade-left", data-aos-duration="400", data-aos-delay="100")
        | !{i18n.about.lastJobs.more}
      
     
