section#lastBlog.mm-background-black
  .content
    .lastBlog
      .title
        span.mm-text-family-brand.mm-text-size-xxxxl.mm-text-medium.mm-text-secondary
         | >_
        p.mm-text-family-brand.mm-text-size-xxxxl.mm-text-medium.mm-text-secondary
          | !{i18n.about.blog.title}
      .subtitle
        span
        p.mm-text-family-primary.mm-text-size-l.mm-text-medium.mm-text-secondary
           | !{i18n.about.blog.subtitle}
      .list-blog
      a(href=lang + '/' + i18n.about.blog.action.href)
        p.mm-text-secondary
          | !{i18n.about.blog.action.copy}
