section#numbers.mm-background-black
  .content.numbers
    .title.mm-text-left(data-aos="fade-up", data-aos-duration="400", data-aos-delay="100")
      span.mm-text-family-primary.mm-text-size-xxl.mm-text-brand >_
      p.mm-text-family-primary.mm-text-size-xxxl.mm-text-secondary.mm-text-bold
        | !{i18n.about.numbers.title}
    .description(data-aos="fade-left", data-aos-duration="400", data-aos-delay="100")
      p.mm-text-family-brand.mm-text-size-bigest.mm-text-brand
        | #{i18n.about.numbers.percent}
      span.mm-text-family-primary.mm-text-size-l.mm-text-secondary
        | #{i18n.about.numbers.description2}
section#numbers-list.mm-background-brand
  .numbers-list
    each val, key in i18n.about.numbers.list
      - var duration = key * 1000;
      - var delay = key * 400;
      article.numbers-item(data-aos="fade-out", data-aos-duration=duration, data-aos-delay=delay)
        header.numbers-item-title
          span.mm-text-primary.mm-text-family-brand.mm-text-size-xxxxl #{val.quantity}
          span.mm-text-primary.mm-text-family-primary.mm-text-size-l.mm-text-left #{val.name}
