section#services.mm-background-black
  .content.services
    .title(data-aos="fade-up", data-aos-duration="400", data-aos-delay="100")
      p.mm-text-family-secondary.mm-text-size-xxxxl.mm-text-brand.mm-text-bold
        | >_
      p.mm-text-family-brand.mm-text-size-xxxxl.mm-text-secondary
        | !{i18n.about.services.title}
    .description
      each val, key in i18n.about.services.options
        - var duration = 1000;
        - var delay = key * 400;
        article.service-item(data-aos="fade-in", data-aos-duration=duration, data-aos-delay=delay)
          header.service-item-title.mm-text-secondary.mm-text-size-xl.mm-text-bold
            span.mm-text-brand _
            span.mm-text-secondary 
              | !{val.title}
          ul.list-services
            each value in val.list
              li.mm-text-secondary
                | !{value}
          footer.service-action
            a(href=val.action.href).mm-button-primary.mm-button-m
              | #{val.action.copy}
