.toptalent
  p.title.mm-text-family-primary.mm-text-size-xxl.mm-text-bold
    | !{i18n.about.focusBusiness.offerTitle}
  .description.toptalent-list
    each val, key in i18n.about.focusBusiness.offersList
      .card.card--large
        .card__shadow.card__shadow--primary
        .card__child
          .card-title
            | !{val.title}
          .card-info
            .card-department
              | !{val.department}
            .card-description
              | !{val.description}
            ul.card-tags
              each skill, key in val.skills
                li !{skill}
            .card-salary
              | !{val.salary}
