section#why.mm-background-secondary
  .content.why
    .title(data-aos="fade-up", data-aos-duration="600", data-aos-delay="100")
      span.mm-text-family-secondary.mm-text-size-xxxxl.mm-text-brand >_
      p.mm-text-family-brand.mm-text-size-xxxxl.mm-text-primary
        | !{i18n.about.why.title}
    .description
      each val, key in i18n.about.why.options
        article.card(data-aos="fade-left", data-aos-duration="300", data-aos-delay="100")
          .card__shadow
          .card__child
            h3.card-title.mm-text-family-secondary.mm-text-brand.mm-text-size-m.mm-text-primary !{val.title}
            p.card-description.mm-text-primary
              | !{val.description}
    
