.mm-modal-hide {
  display: none;
}
.mm-modal-show {
  display: flex;
}
.mm-modal-header {
  position: relative;
  display: flex;
  width: 100%;
  top: 0;
  justify-content: end;
}
.mm-modal--close {
  color: $black;
  cursor: pointer;
  font-size: 36px;
  position: fixed;
  height: 80%;
  @include modular-mq(md) {
    font-size: 24px
  }
}

.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  z-index: 12;

  .overlay {
    background: $black;
    opacity: 0.7;
    width: 100%;
    height: 100vh;
    z-index: -1;
  }

  .forms {
    position: relative;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $secondary;
    padding: 42px;
    border-radius: $global-radius;
    font-family: $font-family-primary;
    max-width: 650px;
    width: 100%;
    overflow: scroll;

    @include modular-mq(sm) {
      max-width: 600px;
      max-height: 99%;
    }

    @include modular-mq(sm) {
      max-width: 300px;
      max-height: 99%;
    }

    .mm-form-hide {
      display: none;
    }

    .hbspt-form {
      width: 100%;
      max-height: calc(100vh - 148px);
      overflow: scroll;
      @include modular-mq(md) {
        padding-top: 143px;
      }
    }

    iframe {
      z-index: 2;
      overflow: scroll;
      label {
        font-weight: bold;
      }
    }
  }

}
