.list-items-menu {
  z-index: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 87px;
  letter-spacing: 2.34px;
  font-size: 50px;

  @include modular-mq(sm) {
    font-size: 32px;
    line-height: 56px;
  }
}

.list-items-menu-desk {
  display: flex;
  align-items: center;
  z-index: 1;
  li {
    margin: 0 24px;

    &:last-child {
      margin: 0 48px 0 24px;
    }
  }

}
