.about {
  display: grid;
  grid-template-areas:
    "title description";
  grid-template-rows: 1fr;
  grid-template-columns: 1.2fr 0.8fr;
  width: 100%;

  @include modular-mq(sm) {
    grid-template-areas:
    "title" "description";
    grid-template-columns: auto;
  }

  .title {
    display: flex;
    flex-direction: column;
    grid-area: title;

    span {
      margin-right: 24px;
    }

    @include modular-mq(sm) {
      padding-bottom: 24px;
      justify-content: center;
      p {
        font-size: 40px;
      }
    }
  }
  .description {
    grid-area: description;
    padding-top: 120px;

    @include modular-mq(sm) {
      padding-top: 24px;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
}
