#benefits {
  background-image: url(../media/img/assets/bg_benefits.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 50%;
}

.benefits {
  width: 100%;
  padding-top: 48px;
  .title {
    padding: 0 32px 48px;

    @include modular-mq(sm) {
      padding-top: 24px;
      padding-bottom: 24px;
      p {
        font-size: 40px;
        text-align: center;
      }
    }
  }

  .description {
    display: grid;
    grid-area: description;
    grid-template-areas:
    ". . .";
    grid-template-rows: auto ;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 24px 0;
    gap: 8px;

    @include modular-mq(sm) {
      grid-template-areas:
        "." "." ".";
      grid-template-columns: 1fr;
      text-align: center;
    }

    .benefits-item {
      display: flex;
      flex-direction: column;
      padding: 40px 32px;

      .benefits-item-title {
        margin-bottom: 24px;
        @include modular-mq(sm) {
          font-size: 40px;
        }
      }

      .benefits-item-subtitle {
        margin-bottom: 24px;
      }
    }
  }
}
