.hero {
  display: flex;
  flex-direction: "column";
  background-image: url(../media/img/assets/hero_coaching.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;

  .title {
    padding-top: 148px;
    padding-bottom: 148px;
    width: 100%;
    h1:first-child {
      margin-bottom: 32px;
    }

    @include modular-mq(sm) {
      h1, h2 {
        font-size: 32px;
      }
    }

    .actions {
      padding-top: 48px;
      a {
        margin: 8px;
      }
    }
  }
}
