#plans {
  background-image: url(../media/img/assets/MA_cocaching.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: auto;
  @include modular-mq(sm) {
    background-image: none;
  }
}

.plans {
  display: grid;
  grid-template-areas:
    "title description";
  grid-template-rows: 1fr;
  grid-template-columns: 0.8fr 1.2fr;
  width: 100%;
  padding: 240px 0 168px;

  @include modular-mq(sm) {
    grid-template-areas:
    "title" "description";
    grid-template-columns: auto;
    padding: 84px 0;
  }

  .title {
    grid-area: title;
    padding-bottom: 96px;
    .box {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
    }
    @include modular-mq(sm) {
      text-align: center;
      padding-top: 24px;
      padding-bottom: 24px;
      .plan-title {
        font-size: 40px;
      }
      .plan-subtitle {
        margin: 0 auto 40px;
      }
    }

    .plan-title {
      margin: 12px 0 24px;
    }

    .plan-subtitle {
      max-width: 260px;
      margin-bottom: 24px;
    }
  }

  .description {
    display: grid;
    grid-area: description;
    grid-template-areas:
    "." ".";
    grid-template-rows: auto ;
    grid-template-columns: 1fr;
    margin: 12px 12px;
    gap: 16px;

    @include modular-mq(sm) {
      grid-template-areas:
        "." ".";
      grid-template-columns: 1fr;
    }

    .plans-item {
      display: flex;
      flex-direction: column;
      border: 2px solid $secondary;
      padding: 32px 32px;
      border-radius: $global-radius;

      .plans-item-title {
        margin-bottom: 24px;
      }

      .plan-description {
        flex: 1;
      }

      ul {
        list-style: disc;
        margin-left: 24px;
      }

      .plan-info {
        margin-top: 24px;
      }

      .plans-action {
        margin-top: 40px;
      }

      .plans-action, .plans-action > a {
        width: 100%;
      }



      &:hover, &:active {
        border: 2px solid $brand;
        background-color: $brand;

        * {
          color: $black !important;
        }

        .plans-action, .plans-action > a {
          border-radius: 4px;
          border-color: $black;
          background-color: $black;
          color: $secondary !important;
        }
      }


    }
  }
}
