.services {
  display: grid;
  grid-template-areas:
    "title title"
    "description description";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1.2fr 0.8fr;
  width: 100%;

  @include modular-mq(sm) {
    grid-template-areas:
    "title" "description";
    grid-template-columns: auto;
  }

  .title {
    grid-area: title;
    background-image: url(../media/img/assets/triangulo.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 96px;
    @include animation(bote-right 5s ease infinite);

    @include modular-mq(sm) {
      padding-top: 24px;
      padding-bottom: 24px;
      background-image: none;
      p {
        font-size: 40px;
      }
    }
  }

  .description {
    grid-area: description;

    .service-item {
      display: grid;
      grid-template-areas:
      ". .";
      grid-template-rows: auto;
      grid-template-columns: fit-content(50%);

      @include modular-mq(sm) {
        grid-template-areas: "." ".";
      }

      .service-item-title {
        display: grid;
        grid-template-areas:
        ". .";
        grid-template-rows: auto;
        grid-template-columns: 80px 300px;
        margin-bottom: 24px;
        gap: 16px;

        @include modular-mq(sm) {
          grid-template-columns: 80px 230px;
          span {
            font-size: 30px;
          }
        }
      }

      .description-service {
        padding: 0 56px;
        @include modular-mq(sm) {
          padding: 0;
        }
      }

      .list-services {
        flex: 1;
        padding-left: 24px;
        list-style: disc;
      }

      .service-action {
        margin-top: 96px;
        margin-bottom: 148px;
      }

      .service-action, .service-action > a {
        width: 250px;
      }
    }
  }
}
