.values {
  display: grid;
  grid-template-areas:
    "title title"
    "description description";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1.2fr 0.8fr;
  width: 100%;

  @include modular-mq(sm) {
    grid-template-areas:
    "title" "description";
    grid-template-columns: auto;
  }

  .title {
    grid-area: title;
    padding-bottom: 96px;

    @include modular-mq(sm) {
      padding-top: 24px;
      padding-bottom: 24px;
      p {
        font-size: 40px;
      }
    }
  }

  .description {
    display: grid;
    grid-area: description;
    grid-template-areas:
    ". . .";
    grid-template-rows: auto ;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 24px 0;
    gap: 16px;

    @include modular-mq(sm) {
      grid-template-areas:
        "." "." ".";
      grid-template-columns: 1fr;
    }

    .value-item {
      display: flex;
      flex-direction: column;
      border: 2px solid $secondary;
      padding: 40px 32px;

      .value-item-title {
        margin: 16px 0;
      }

      .values-item-description {
        padding: 16px 0;
      }

      &:hover, &:active {
        border: 2px solid $brand;
        background-color: $brand;

        * {
          color: $black !important;
        }

        path {
          fill: $black !important;
        }
      }
    }
  }
}
