section#contact.mm-background-brand
  .content.contact
    .title
      p.mm-text-family-secondary.mm-text-size-bigest  >_
      p.mm-text-family-brand.mm-text-size-bigest #{i18n.general.contact.title[page]}
      p.contact-subtitle.mm-text-size-xl.mm-text-bold #{i18n.general.contact.subtitle[page]}
      .action
        button(class=i18n.general.contact.action.id).mm-button-primary--clean.mm-text-size-m
          | #{i18n.general.contact.action.copy}
    .description
      p.mm-text-size-xl.mm-text-bold #{i18n.general.contact.headquarters}
      br
      p.mm-text-size-s.mm-text-medium #{i18n.general.contact.address1}
      p.mm-text-size-s.mm-text-medium !{i18n.general.contact.address2}
      ul.social-media.mm-text-light
        each val, key in i18n.general.contact.social
          li.mm-text-size-m.mm-text-underline(class=val.icon)
            a(href=val.href) #{val.title}
