header.menu-header.mm-background-transparent
  .mm-overlay
  .logo-container
    a(href="/")
      svg(width='58px' height='58px' viewbox='0 0 720 720' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
        g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
          path(d='M361.5,55 C191.120155,55 53,192.224724 53,361.5 C53,530.775276 191.120155,668 361.5,668 C531.879845,668 670,530.775276 670,361.5 C670,192.224724 531.879845,55 361.5,55 Z' fill='#000000' fill-rule='nonzero')
          path(d='M414.742268,484.342105 L414.742268,517.5 L308.969072,517.5 L308.969072,484.342105 L414.742268,484.342105 Z M311.551223,257.763158 L361.38747,347.658816 L411.021299,257.763158 L446.28866,257.763158 L446.28866,464.078947 L275.56701,464.078947 L275.56701,257.763158 L311.551223,257.763158 Z M310.824742,320.394737 L310.824742,430.921053 L414.742268,430.921053 L414.742268,321.853705 L363.298303,414.545418 L310.824742,320.394737 Z M292.268041,202.5 C304.566341,202.5 314.536082,212.396863 314.536082,224.605263 C314.536082,236.813663 304.566341,246.710526 292.268041,246.710526 C279.969742,246.710526 270,236.813663 270,224.605263 C270,212.396863 279.969742,202.5 292.268041,202.5 Z M427.731959,202.5 C440.030258,202.5 450,212.396863 450,224.605263 C450,236.813663 440.030258,246.710526 427.731959,246.710526 C415.433659,246.710526 405.463918,236.813663 405.463918,224.605263 C405.463918,212.396863 415.433659,202.5 427.731959,202.5 Z' fill='#FFFFFF' fill-rule='nonzero')
          path(d='M360,0 C558.82251,0 720,161.17749 720,360 C720,558.82251 558.82251,720 360,720 C161.17749,720 0,558.82251 0,360 C0,161.17749 161.17749,0 360,0 Z M361.5,55 C191.120155,55 53,192.224724 53,361.5 C53,530.775276 191.120155,668 361.5,668 C531.879845,668 670,530.775276 670,361.5 C670,192.224724 531.879845,55 361.5,55 Z' fill='#FFFFFF' fill-rule='nonzero')
  nav.menu-lang
    if lang === 'es'
      a(href=`/es/${page}.html`).mm-text-brand
        span.mm-text-brand
          | #{i18n.general.menuLang.options.es}
    else
      a(href=`/es/${page}.html`).mm-text-secondary
        span.mm-text-secondary
          | #{i18n.general.menuLang.options.es}
    span.mm-text-secondary.lang-separator
      | |
    if lang === 'en'
      a(href=`/en/${page}.html`).mm-text-brand
        span.mm-text-brand
          | #{i18n.general.menuLang.options.en}
    else
      a(href=`/en/${page}.html`).mm-text-secondary
        span.mm-text-secondary
          | #{i18n.general.menuLang.options.en}
  nav.menu.mm-button-primary.mm-button-not-hover
    .menu-burguer
      span.mm-background-secondary.bar
      span.mm-background-secondary.bar
      span.mm-background-secondary.bar
      span.mm-background-secondary.bar
      span.mm-background-secondary.bar
      span.mm-background-secondary.bar
    span.mm-text-secondary
      | #{i18n.general.header.title}
    .main-menu
      .overlay
      ul.list-items-menu.mm-text-family-primary.mm-text-bold.mm-text-left
        each val, key in i18n.general.header.items
          li.mm-text-secondary
            a(href=`${val.external ? val.href : `/${lang}/${val.href}`}`, target=`${val.external ? '_blank' : ``}`)
              span
                | _#{val.title}
  nav.menu-desk
    ul.list-items-menu-desk.mm-text-family-primary.mm-text-medium
      each val, key in i18n.general.header.items
        li.mm-text-secondary
          a(href=`${val.external ? val.href : `/${lang}/${val.href}`}`, target=`${val.external ? '_blank' : ``}`)
            span
              | #{val.title}
      li
        button.partner-form-action.mm-button-primary
          | Upload CV
  nav.menu-lang-desk
    if lang === 'es'
      a(href=`/es/${page}.html`).mm-text-brand
        span.mm-text-brand
          | #{i18n.general.menuLang.options.es}
    else
      a(href=`/es/${page}.html`).mm-text-secondary
        span.mm-text-secondary
          | #{i18n.general.menuLang.options.es}
    span.mm-text-secondary.lang-separator
      | |
    if lang === 'en'
      a(href=`/en/${page}.html`).mm-text-brand
        span.mm-text-brand
          | #{i18n.general.menuLang.options.en}
    else
      a(href=`/en/${page}.html`).mm-text-secondary
        span.mm-text-secondary
          | #{i18n.general.menuLang.options.en}
    
